* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Urbanist";
  letter-spacing: 0.1rem;
  box-sizing: border-box;
}

body {
  background-color: #1c2833;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #fdfede;
}

.cc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.cc-div {
  padding: 3.2rem;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: #1c2833;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cc-selector {
  display: flex;
  justify-content: space-between;
}

h2 {
  color: #667eea;
  align-items: center;
}

input {
  padding: 0.3rem;
}

button {
  outline: none;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;

  background: #0099cc;
  cursor: pointer;
}

section button:hover {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #ffffff;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px)
      0/0% no-repeat,
    repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
  animation: l3 2s infinite;
  -webkit-animation: l3 2s infinite;
}
